@import 'assets/styles/base.scss';

.form {
  position: relative;

  &__btn_edit {
    position: absolute;
    top: -48px;
    right: -6px;
    display: inline-block;
  }

  &__btn_send {
    position: absolute;
    right: -6px;
    bottom: -55px;
  }

  label {
    display: inline-block;
    width: 100%;
    margin-bottom: 4px;
    font-size: 8px;
  }

  input {
    width: 100%;
    max-width: 211px;
    margin-bottom: 2px;
    padding: 4px 10px;
    font-size: 10px;
    border: 1px solid $color-default_light;
    border-radius: 5px;
  }

  textarea {
    width: 100%;
    min-height: 60px;
    max-height: 100px;
    padding: 4px 10px;
    font-size: 10px;
    border: 1px solid $color-default_light;
    border-radius: 5px;
    resize: vertical;
  }

  input[readonly],
  textarea[readonly] {
    color: $color-text_gray;
  }
}
