@import 'assets/styles/base.scss';

.profile {
  &__heading {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 14px;
  }

  &__form {
    padding: 9px 6px 19px 12px;
    border: 1px solid $color_bg_user;
    border-radius: 8px;
  }
}
