@import 'assets/styles/base.scss';

.main {
  display: grid;
  grid-template-columns: 150px 1fr;

  &__menu {
    padding-top: 35px;
    padding-left: 20px;
    background-color: $color-default_dark;
  }

  &__content {
    padding: 19px 50px 25px 34px;
    background-color: $color-default_white;
  }
}
