$color-default_white: #fff;
$color-default_black: #000;
$color-default_light: #D8D8D8;
$color-default_dark: #BDBDBD;
$color_accent: #4B51EF;
$color_error: #D91313;
$color_success: #52CF4F;
$color-text_gray: #A3A3A3;
$color_disable: #AFAFAF;