$color-default_white: #fff;
$color-default_black: #000;
$color-default_light: #d8d8d8;
$color-default_dark: #bdbdbd;
$color_accent: #4b51ef;
$color_accent_hover: #8a8efd;
$color_error: #d91313;
$color_success: #52cf4f;
$color-text_gray: #a3a3a3;
$color_disable: #afafaf;
