@import 'variables';

html {
  box-sizing: border-box;
  font-family: Roboto, Arial, sans-serif;
}

body {
  background-color: $color-default_light;
}

html,
body,
#root {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  outline: none;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

.main {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
}
